numpy
pillow
pip
setuptools
typing_extensions
packaging
scipy
matplotlib
pyinstaller
six
urllib3
altgraph
python-dateutil
contourpy
fonttools
pefile
pyparsing
darkdetect
cycler
kiwisolver
pywin32-ctypes
customtkinter
pyinstaller-hooks-contrib
attrs
wheel
protobuf
tornado
Jinja2
cffi
pytz
rich
Pygments
markdown-it-py
requests
mdurl
numba
charset-normalizer
lz4
joblib
certifi
scikit-learn
mutagen
idna
flatbuffers
transformers
librosa
pydub
sympy
matplot
nh3
docutils
keyring
zipp
twine
readme_renderer
rfc3986
pkginfo
requests-toolbelt
more-itertools
pyloco
websocket-client
ushlex
SimpleWebSocketServer
importlib_metadata
filelock
keras
colorama
PyYAML
llvmlite
GitPython
pooch
tqdm
platformdirs
regex
threadpoolctl
torch
mpmath
decorator
fsspec
MarkupSafe
soundfile
audioread
soxr
lazy_loader
msgpack
pandas
pycparser
tokenizers
safetensors
tensorflow
huggingface-hub
torchvision
ml-dtypes
pydantic
tf_keras
h5py
gitdb
absl-py
gast
grpcio
libclang
smmap
optree
namex
google-pasta
astunparse
tensorboard
opt_einsum
pyarrow
imageio
imageio-ffmpeg
moviepy
proglog
Markdown
networkx
pydantic_core
annotated-types
wrapt
termcolor
dill
botocore
boto3
Werkzeug